In [3]:
#renamings pandas to pd
import pandas as pd 
#let us make a graog
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
path = 'pokemon_data.csv'
pokemon = pd.read_csv(path)

In [9]:
type(pokemon)

pandas.core.frame.DataFrame

In [10]:
pokemon.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [8]:
pokemon.loc[pokemon.name == 'pikachu']

Empty DataFrame
Columns: [abilities, against_bug, against_dark, against_dragon, against_electric, against_fairy, against_fight, against_fire, against_flying, against_ghost, against_grass, against_ground, against_ice, against_normal, against_poison, against_psychic, against_rock, against_steel, against_water, attack, base_egg_steps, base_happiness, base_total, capture_rate, classfication, defense, experience_growth, height_m, hp, japanese_name, name, percentage_male, pokedex_number, sp_attack, sp_defense, speed, type1, type2, weight_kg, generation, is_legendary]
Index: []

[0 rows x 41 columns]

In [14]:
pokemon.hp

0       45
1       60
2       80
3       39
4       58
      ...
796     97
797     59
798    223
799     97
800     80
Name: hp, Length: 801, dtype: int64

In [18]:
print(int(pokemon.hp.max()))

255

In [22]:
strong_pokemon = pokemon.loc[pokemon.hp == 255, 'name'].item()

In [31]:
strong_pokemon

241    Blissey
Name: name, dtype: object